@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-menu > ul{
        flex-direction: column;
    }
    
}
@media screen and (min-width:577px) and (max-width:992px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-menu > ul{
        flex-direction: column;
    }
     .banner-container{
        flex-direction: column;
     }
     .banner-image img {
        width: 700px;
     }
}